.list-properies{
  background-color:transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  color:black;
  background: #fff;
  box-sizing: border-box;
  margin: 0% 10% 1% 10%;
  position: relative;
}
.list-properies li{
  width:100%;
}
.list-properies li span{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.list-properies li span .arrow{
  position: absolute;
  left:110px;
  top:26px;
}

.img{
  display: block;
}
.add-image .img{
  display: none;
}
